
/* classe */
.picture {
  width: 300px;
  height: 300px;
}

.picture img {
  min-width: 300px;
  height: 266px;
}

.pictureAngers {
  height: 220px;
}

.date-de-sortit {
  font-size: 0.7em;
}
/* id */
#articles {
  width: 300px;
  left: 250px;
  margin: 30px;
  display: inline-block;
  background-color: lightgray;
  padding-bottom: 15px;
  border: 0px black solid;
  border-radius: 10px;
  overflow: hidden;
}

#articles:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.3s;
}