
body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

section {
  text-align: center;
}

h1 {
  color: blueviolet;
  font-family: "roboto", arial, sans-serif;
  text-align: center;
  font-size: 3.5em;
  opacity: 0.6;
  margin-top: 0px;
  padding-top: 30px;
}

h2 {
  color: blue;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 3em;
  text-align: center;
  opacity: 0.5;
  width: auto;
  margin: auto;
}

h3:before {
  content: "«";
  color: darkgreen;
}

h3 {
  text-align: center;
  font-size: 1.7em;
  text-transform: uppercase;
  color: darkgreen;
}

h3:after {
  content: " » ";
  color: darkgreen;
}

h5 {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  color: blueviolet;
}

/*classes*/
.presentation {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
}

.mission {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
}

/*id*/

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




/* MEDIA */

@media all and (max-width: 800px) {
  .article {
    width: 100%;
    margin: 15px auto;
  }

  #logo {
    margin: 20px;
    width: 5rem;
    grid-area: 1;
  }
}
