ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 15px;
}

li:hover {
  font-weight: bold;
}

nav {
  /* text-align: center; */
  /* box-shadow: 0px 3px 1px; */
  font-size: 1.5em;
  padding: 10px;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}

.navbar-brand {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}
/* classe */
.center-nav {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto;
  max-width: 200px;
  text-align: center;
}

.center-nav li {
  text-align: center;
  width: 100%;
}
/* id */
#conexion {
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.7em;
  font-style: italic;
}

#menu {
  margin: 0 auto;
  padding-left: 15%;
  background: lightgrey;
}
